$primary-darkest: #203d54;
$primary-darker: #1a4971;
$primary-dark: #2368a2;
$primary-base: #3183c8;
$primary-light: #63a2d8;
$primary-lighter: #aad4f5;
$primary-lightest: #eff8ff;
$neutral-darkest: #212934;
$neutral-darker: #5f6b7a;
$neutral-dark: #8895a7;
$neutral-base: #b8c4ce;
$neutral-light: #cfd6de;
$neutral-lighter: #e1e7ec;
$neutral-lightest: #f8f9fa;

/*
  green: {
    darkest: '#145239',
    darker: '#197741',
    dark: '#259D58',
    base: '#38C172',
    light: '#74D99F',
    lighter: '#A8EEC1',
    lightest: '#E3FCEC',
  },

  red: {
    darkest: '#611818',
    darker: '#891B1B',
    dark: '#B82020',
    base: '#DC3030',
    light: '#E46464',
    lighter: '#F5AAAA',
    lightest: '#FCE8E8',
  },

  cyan: {
    darkest: '#124544',
    darker: '#1B655E',
    dark: '#2A9187',
    base: '#3CAEA3',
    light: '#6ED7D3',
    lighter: '#A8EEEB',
    lightest: '#E7FFFE',
  },

  yellow: {
    darkest: '#5C4813',
    darker: '#8C6D1F',
    dark: '#CAA53D',
    base: '#F4CA64',
    light: '#FAE29F',
    lighter: '#FDF3D7',
    lightest: '#FFFCF4',
  },
*/
