$primary-darkest: #203d54;
$primary-darker: #1a4971;
$primary-dark: #2368a2;
$primary-base: #3183c8;
$primary-light: #63a2d8;
$primary-lighter: #aad4f5;
$primary-lightest: #eff8ff;
$neutral-darkest: #212934;
$neutral-darker: #5f6b7a;
$neutral-dark: #8895a7;
$neutral-base: #b8c4ce;
$neutral-light: #cfd6de;
$neutral-lighter: #e1e7ec;
$neutral-lightest: #f8f9fa;
