.bot-panel
  .find-path
    button Find path
    input#coord-x(type='number', placeholder='x')
    input#coord-y(type='number', placeholder='y')

  p
    | MouseCoords = 
    span#mouse-coords
