.mouse-coords
  span#x 0
  span ,
  span#y 0

.bot-panel

  .col-left
    textarea#logs
  .col-right
    .grid
      div Script state
      #script-state -

      div Select script
      div
        select#script-list
          option(disabled selected value='') -
      
      div
        button(disabled)#start-script Start script
      div
        button(disabled)#stop-script Stop script

    details
      summary Show details

      .grid
        div Socket traffic
        div
          input(type="checkbox" id="socket-traffic-out")
          | Out
          input(type="checkbox" id="socket-traffic-in")
          | In

        div Mouse coords
        div
          input(type="checkbox" id="mouse-coords")
          | Show

        div Record path
        div
          input(type="checkbox" id="record-path")
          | Enable

        div Current map
        #current-map

        div Player path
        #player-path