.bot-panel
  .scripts

  .info-grid
    div Script state
    #script-state
    
    div Mouse coords
    div#mouse-coords

    div Under mouse
    div#under-mouse

    div Current map
    div#current-map

    div Player path
    div#player-path