.bot-panel
  .grid
    div Script state
    #script-state -

    div Select script
    div
      select#script-list
        option(disabled selected value='') -
    
    div
      button#start-script Start script
    div
      button(disabled)#stop-script Stop script

  details
    summary Show details

    .grid
      div Mouse coords
      #mouse-coords

      div Under mouse
      #under-mouse

      div Current map
      #current-map

      div Player path
      #player-path