.bot-panel
  button#script-test Run tester
  button#script-miner Run miner

  .info-grid
    div Mouse coords
    div#mouse-coords

    div Current map
    div#current-map

    div Player path
    div#player-path