@import 'colors.scss';
$font: 12px monospace;

%bot-window {
  all: initial;
  all: unset;

  z-index: 9001;
  background: $primary-darkest !important;
  color: $neutral-base;
  font: $font;

  * {
    cursor: default !important;
    color: $neutral-base;
  }
}

.mouse-coords {
  @extend %bot-window;

  position: absolute;
  padding: 5px;
  border-radius: 5px;
}

.bot-panel {
  @extend %bot-window;

  z-index: 9000;
  display: grid;
  grid-template-columns: 300px;

  position: absolute;
  padding: 5px;
  bottom: 0px;
  right: 0px;
  opacity: 0.92;
  border-radius: 5px 0px 0px 0px;

  details {
    margin-top: 5px;
  }

  textarea,
  button,
  select {
    background: $primary-darker;
    user-select: none;
  }

  .col-left {
    display: none;

    #logs {
      height: calc(100% - 1px);
      width: calc(100% - 8px);
      resize: none;
      border: none;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .col-right {
    div {
      padding: 5px;
      white-space: nowrap;
      overflow: hidden;
    }

    #script-list,
    button {
      border: 0;
      width: 100%;
      height: 20px;

      &:hover:enabled {
        background: $primary-dark;
      }

      &:disabled {
        color: $neutral-darker;
      }
    }
  }
}
