.bot-panel {
  all: initial;
  all: unset;

  position: absolute;
  background: #112f41 !important;
  padding: 5px 0px 0px 5px;
  top: 20px;
  left: 20px;
  z-index: 9999;
  color: white;
  font-size: 12px;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace !important;

  .find-path {
    input {
      width: 50px;
    }
  }

  .info-grid {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 300px;

    div {
      padding: 5px;
    }

    #player-path {
      background: #068587;
      height: 100px;
      overflow-y: scroll;
    }
  }
}
